*{
    background: black;
    color: #fff;
    font-family: 'VT323', monospace;
}

.nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: darkorchid;
}

.nav__link{
    margin: 15px;
    font-size: 20px;
    width: 100%;
    text-align: center;
    text-decoration: none;
}